@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl font-bold mb-5;
  }
  h2 {
    @apply text-xl underline mt-5 mb-2;
  }
  h3 {
    @apply text-xl mt-5 mb-2;
  }
  p {
    @apply mb-2;
  }
  ul {
    @apply mb-2;
  }
}
