@import 'header.css';
@import 'content.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
/* 
* {
  margin: 0;
  padding: 0;
  border: 0;
} */

ul {
  list-style: circle;
  margin: 8px;
  padding-left: 40px;
}