<nav class="bg-gray-800">
  <div class="px-3 sm:px-3.5 lg:px-8">
    <div class="flex h-20 items-center justify-between">
      <div class="text-white font-bold text-lg flex items-center">
        <img class="mr-3" src="{{ .Site.BaseURL }}/LCASTOR_image.png" alt="LCASTOR Team Logo" width="80" height="80">
        <div class="px-3 md:px-0">LCASTOR Team Homepage</div>
      </div>
      <div class="text-white flex space-x-1.5 hidden lg:block text-sm">
        <div class="inline px-3 py-2 rounded-md hover:bg-gray-700">
          <p class="inline {{ if eq .Title "Home Page" }} underline decoration-2 decoration-sky-500 {{ end }}">
            <a style="text-decoration:none;color:white" href="{{ .Site.BaseURL }}/">Home</a>
          </p>
        </div>
        <div class="inline px-3 py-2 rounded-md hover:bg-gray-700">
          <p class="inline {{ if eq .Title "Members" }} underline decoration-2 decoration-sky-500 {{ end }}">
            <a style="text-decoration:none;color:white" href="{{ .Site.BaseURL }}/members">Team Members</a>
          </p>
        </div>
        <div class="inline px-3 py-2 rounded-md hover:bg-gray-700">
          <p class="inline {{ if eq .Title "Scientific Objectives" }} underline decoration-2 decoration-sky-500 {{ end
            }}">
            <a style="text-decoration:none;color:white" href="{{ .Site.BaseURL }}/scientific-objectives">Scientific Objectives</a>
          </p>
        </div>
        <div class="inline px-3 py-2 rounded-md hover:bg-gray-700">
          <p class="inline {{ if eq .Title "Competitions" }} underline decoration-2 decoration-sky-500 {{ end }}">
            <a style="text-decoration:none;color:white" href="{{ .Site.BaseURL }}/competitions">Competitions</a>
          </p>
        </div>
        <div class="inline px-3 py-2 rounded-md hover:bg-gray-700">
          <p class="inline {{ if eq .Title "Robots" }} underline decoration-2 decoration-sky-500 {{ end }}">
            <a style="text-decoration:none;color:white" href="{{ .Site.BaseURL }}/robots">Our Robots</a>
          </p>
        </div>
        <div class="inline px-3 py-2 rounded-md hover:bg-gray-700">
          <p class="inline {{ if eq .Title "Software" }} underline decoration-2 decoration-sky-500 {{ end }}">
            <a style="text-decoration:none;color:white" href="{{ .Site.BaseURL }}/software">Software</a>
          </p>
        </div>
      </div>
    </div>
    <div class="flex flex-col space-y-1.5 text-sm pb-4 text-white block lg:hidden">
      <div class="inline px-3 py-2 rounded-md hover:bg-gray-700 w-fit">
        <p class="inline {{ if eq .Title "Home Page" }} underline decoration-2 decoration-sky-500 {{ end }}">
          <a style="text-decoration:none;color:white" href="{{ .Site.BaseURL }}/">Home</a>
        </p>
      </div>
      <div class="inline px-3 py-2 rounded-md hover:bg-gray-700 w-fit">
        <p class="inline {{ if eq .Title "Members" }} underline decoration-2 decoration-sky-500 {{ end }}">
          <a style="text-decoration:none;color:white" href="{{ .Site.BaseURL }}/members">Team Members</a>
        </p>
      </div>
      <div class="inline px-3 py-2 rounded-md hover:bg-gray-700 w-fit">
        <p class="inline {{ if eq .Title "Scientific Objectives" }} underline decoration-2 decoration-sky-500 {{ end
          }}">
          <a style="text-decoration:none;color:white" href="{{ .Site.BaseURL }}/scientific-objectives">Scientific Objectives</a>
        </p>
      </div>
      <div class="inline px-3 py-2 rounded-md hover:bg-gray-700 w-fit">
        <p class="inline {{ if eq .Title "Competitions" }} underline decoration-2 decoration-sky-500 {{ end }}">
          <a style="text-decoration:none;color:white" href="{{ .Site.BaseURL }}/competitions">Competitions</a>
        </p>
      </div>
      <div class="inline px-3 py-2 rounded-md hover:bg-gray-700 w-fit">
        <p class="inline {{ if eq .Title "Robots" }} underline decoration-2 decoration-sky-500 {{ end }}">
          <a style="text-decoration:none;color:white" href="{{ .Site.BaseURL }}/robots">Our Robots</a>
        </p>
      </div>
      <div class="inline px-3 py-2 rounded-md hover:bg-gray-700 w-fit">
        <p class="inline {{ if eq .Title "Software" }} underline decoration-2 decoration-sky-500 {{ end }}">
          <a style="text-decoration:none;color:white" href="{{ .Site.BaseURL }}/software">Software</a>
        </p>
      </div>
    </div>
  </div>
</nav>